<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - New Store</title>
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/bootstrap-grid.css")
    @Styles.Render("~/Content/Site.css")
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
        <div class="container">
            <div class="navbar-brand">
                @Html.ActionLink("NEW STORE S.A.", "Index", "Home", new { area = "" }, new { @class = "navbar-brand light" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item btn btn-outline-light">
                        @Html.ActionLink("Inicio", "Index", "Home")
                    </li>
                    <li class="nav-item btn btn-outline-light">
                        @Html.ActionLink("Acerca de", "About", "Home")
                    </li>
                    <li class="nav-item btn btn-outline-light">
                        @Html.ActionLink("Contacto", "Contact", "Home")
                    </li>
                    <li class="nav-item btn btn-outline-light">
                        @Html.ActionLink("Productos", "Index", "Productos")
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - New Store S.A.</p>
        </footer>
    </div>

    @Scripts.Render("~/Scripts/jquery-3.5.1.js")
    @Scripts.Render("~/Scripts/bootstrap.js")
    @Scripts.Render("~/Scripts/modernizr-2.8.3.js")
    @RenderSection("scripts", required: false)
</body>
</html>
